@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme(colors.zinc.900);
  /* background-color: theme(colors.black); */
  color: theme(colors.zinc.50);

  --square-size: min(100vw, 100vh);
}
